.contactContainer {
    display: flex;
    color: #5a5858;
    /*padding: 2%;*/
}

.contactIntro {
    background-color: #BCC1C4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    color: white;
}

.contactLeft {
    flex: 1;
    /*background-color: #D9D0CC;*/
    background-size: cover;
    margin-right: 2%;
}

.contactImg {
    background: url('https://instagram.fbeg5-1.fna.fbcdn.net/v/t51.2885-15/e35/36085573_194123607922624_1098625507303358464_n.jpg?_nc_ht=instagram.fbeg5-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=KKT49Hvv9UMAX-uUt8Q&oh=b90859fb1a32608ff9c9a1ee89353c8a&oe=5EE1185B') no-repeat center;
    background-size: cover;
    height: 350px;
    width: 100%;
}

.contactRight {
    flex: 3;
    text-align: left;
    display: inline-block;
    padding: 3% 4%;
}

.form-input {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 5% 8% 8% 8%;
}

input {
    width: 100%;
    margin: 2% 0 0 0;
    background-color: transparent;
}

textarea {
    width: 100%;
    height: 300px;
    background-color: transparent;
}

input, textarea {
    border: 2px solid #bbbbbb;
    border-radius: 7px;
    font-size: 17px;
    padding: 20px;
}
