.homeText h5 {
    margin: 0;
    letter-spacing: 35px;
    font-weight: 700;
}

.productSection {
    background-color: #cfc6c3;
    text-align: center;
}

.productSection h2 {
    margin: 0;
}

.productsGrid {
    display: flex;
    flex-direction: row;
}

.backpacks {
    background-color: #007c89;
    flex: 1 1 33.33%;
    height: 550px;
}

.backpacks img, .toteBags img, .accessories img {
    height: 300px;
    width: 300px;
    background-color: #d8eacc;
}

.toteBags {
    background-color: #3166a2;
    flex: 1 1 33.33%;
}

.accessories {
    background-color: lightpink;
    flex: 1 1 33.33%;
}

.aboutSectionIntro {
    background-color: #e5dede;
    flex: 1 1 33.33%;
    padding: 4%;
}

.aboutSectionIntro h3 {
    line-height: 30px;
    color: #5a5858;
}

.aboutSectionSlider {
    background-image: url("https://bagsuz.com/photos/1/09_pale_beige/pale_beige_detail_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
}

.aboutSectionLinks {
    background-color: #BDC1B6;
    flex: 1 1 33.33%;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.aboutSectionLink {
    flex: 1 1 33.33%;
    border-bottom: 1px solid #333333;
    padding-top: 12px;
}

.aboutSectionLink h2 {
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    color: #333333;
    transition: color 0.3s;
    position: relative;
}

.aboutSectionLink h2:hover {
    color: white;
}

.aboutSectionLink p {
    margin-top: 0;
    color: #5a5858
}

.circleButton {
    vertical-align: middle;
    float: left;
    margin-top: 15px;
    padding-right: 10px;
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}



.aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: 2;
}

.homeAboutLeft {
    flex: 1;
    background-color: #BA4A00;
}

.homeAboutRight {
    flex: 2;
    background: url('https://bagsuz.com/photos/1/72_con_dao/con_dao_detail_4.jpg') no-repeat top;
    background-size: cover;
    width: 100%;
    height: 700px;
    z-index: -1;
    position: relative;
}

.homeAboutRight h1 {
    background-color: white;
    width: 270px;
    padding: 60px 50px;
    font-weight: 300;
    position: relative;
    float: right;
    margin: 8% 3% 4% 3%;
    z-index: 1;
}

.homeAboutImg {
    background: url('https://bagsuz.com/photos/1/32_mayas_lily/mayas_lily_detail_4.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.homeAboutTxt {
    position: relative;
    background-color: #F4F6F7;
    padding: 7%;
    z-index: 0;
}

.homeAboutTxt h3 {
    display: block;
    padding-top: 3%;
    color: #5a5858;
}

.contactTag {
    display: inline-block;
    position: relative;
    color: #000;
    padding-bottom: 3px;
}

.contactTag:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background 0.5s ease;
}

.contactTag:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #555;
    transition: width 0.5s ease;
}

.contactTag:hover:before {
    width: 100%;
    background: #555;
    transition: width 0.5s ease;
}

.contactTag:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.philosophyTag {
    color: #BA4A00;
    letter-spacing: 1px;
}