.introSection {
    display: flex;
    height: 100%;
    margin-top: -24px;
    background-color: #F2F4F4;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introSection h5 {
    margin: 0;
    padding: 0 10px;
    font-weight: 900;
}

.introSection h1 {
    padding: 0 10px;
    margin: 5px 0 0 0;
    font-weight: 300;
    /*background-color: rgba(000,000,000, 0.8);*/
}

.bannerLeft,
.bannerRight {
    height: 100%;
}

.bannerLeft {
    background-color: #F4F6F7;
    flex: 1;
    height: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    z-index: 3;
}

.bannerLeftImg {
    flex: 1;
    background: url('/images/homepage.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    margin: 6% 20%;
}

.newTag {
    margin-top: -30px;
    text-align: left;
    letter-spacing: 6px;
    color: #BA4A00;
}

.findTag {
    /*text-align: right;*/
    display: inline-block;
    position: relative;
    float: right;
    color: #5a5858;
    margin-top: 510px;
    padding-bottom: 3px;
}

.findTag:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background 0.5s ease;
}

.findTag:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #5a5858;
    transition: width 0.5s ease;
}

.findTag:hover:before {
    width: 100%;
    background: #5a5858;
    transition: width 0.5s ease;
}

.findTag:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.bannerRight {
    display: flex;
    flex: 1;
    background: linear-gradient(to bottom, rgba(47,79,79, 0.42), rgba(47,79,79, 0.52)), url('https://bagsuz.com/photos/1/66_citlaltepetl/citlaltepetl_detail_2.jpg') no-repeat top;
    /*background: url('https://bagsuz.com/photos/1/34_erysimum_canaries/erysimum_canaries_detail_4.jpg') no-repeat center;*/
    background-size: cover;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.bannerMsg {
    position: absolute;
    z-index: 2;
    color: white;
    flex-direction: column;
}

.introOverlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    overflow: hidden;
}
